<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Cengiz - Test Work</title>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('style.css') }}" />

    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('jquery.min.js') }}"></script>
</head>
<body>

<header>Test Work</header>

<div class="row" style="padding:10px; margin-bottom:30px">
	<div class="col-md-4 col-md-offset-4">

        {% for flashMessage in app.session.flashbag.get('msg') %}
            <div class="alert alert-success">
            	{{ flashMessage }}
             </div>
        {% endfor %}

        {{ form_start(form, {attr: {novalidate: 'novalidate' }} ) }}
        	<div class="form-group">
	            {{ form_row(form.name) }}
    		</div>
            <div class="form-group">
				{{ form_row(form.gender) }}
            </div>
            <div class="form-group">
				{{ form_row(form.email) }}
            </div>
            <div class="form-group">
				{{ form_row(form.password) }}
            </div>
        {{ form_end(form) }}
	</div>
</div>

{% if users %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
        <table id="table" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr id="records">
                    <td>{{ user.name }}</td>
                    <td>{{ user.gender }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
	</div>
</div>
{% endif %}

</body>
</html>