{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
    <div id="title"><h1>Claudia's Form</h1></div>
        <div class="container">
            {{form_start(form)}}
            <div class="form-group">
                {{form_label(form.name)}}
                {{form_errors(form.name)}}
                {{form_widget(form.name, {'attr': {'class':'form-control'}}   )}}
            </div>

            <div class="form-group">
                {{form_label(form.gender)}}
                {{form_errors(form.gender)}}
                {{form_widget(form.gender, {'attr': {'class':'form-control'}} )}}
            </div>

            <div class="form-group">
                {{form_label(form.email)}}
                {{form_errors(form.email)}}
                {{form_widget(form.email, {'attr': {'class':'form-control'}} )}}
            </div>

            <div class="form-group">
                {{form_label(form.password)}}
                {{form_errors(form.password)}}
                {{form_widget(form.password, {'attr': {'class':'form-control'}} )}}
            </div>
            {{form_widget(form.save)}}
            {{form_end(form)}}
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
    .form-control {
    width: 600px;
    }
    #title {
    padding: 30px;
    }
    #form_save {
        padding:5px 10px 5px 10px;
        background-color: #0080FF;
        border: 2px solid #a1a1a1;
        border-radius: 15px;
        color: #FFF;
    }
    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: none; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
