body{
    margin:0;
    padding:0;
    background: url("image/bg.jpg");
    font-family: "Myriad Pro";
    color: #2D2419;
}

header{
	font-size:20px;
	padding:10px;
	text-align:center;
	background:#000000;
	color:#ffffff;
	margin-bottom:30px;
}

.error{
	color:#FF0004
}