<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Form</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body> 
        {% block body %}{% endblock %}
            <!--{{form(form)}}-->
            
        </div>
    </body>
</html>
