
fieldset{
    text-align: center;
    width: 33%;
    padding: 10px;
    margin: auto;
    min-width: 300px;
}
div{
margin: 0 auto;
}
ol{
    display: block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: right;
    max-width: 300px;
}
ol li {
    clear: both;
    margin: 0 0 10px 0;
    padding: 0;
}
label{
    float: left;
    width: 70px;
}
.radio{
    float: none;
}
input:focus{
cursor: pointer;
}

input[required]:valid, input[pattern]:valid{
    border-color: lightgreen;
}
input[type="submit"]{
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

section{
    display: block;
    background-color: lightblue;
    margin: 50px 0;
    text-align: center;
}

form{
    display: inline-block;
}
img{
    display: inline-block;
}

@media screen and ( max-width:500px){
    form,img{display:block;}
    img{border: 3px solid red;margin: 20px auto;}
}
header,footer{
    display: none;
}
.show{
    display: block;
}















